# Ignore Python bytecode files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore version control directories
.git
.gitignore

# Ignore Dockerfile itself (it doesn't need to go into the image)
Dockerfile

# Ignore logs
*.log

# Ignore image files you don't want in the image container
*.jpg
*.png
*.jpeg
