body {
  background-color: #588157;
}

h1{
  color:#344e41!important;
  font-family:Fantasy;
  
}

ul{
  color:#344e41!important;
  font-family:Fantasy;
}
h2{
  color:#344e41 !important;
  font-family:Fantasy;
}
